:root{
    --red-dot-color :red;
    --yellow-dot-color:yellow;   
    --black-board-color:black;
    --white-board-color:white;
    --grey-board-color:grey;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: powderblue;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}

.nav-menu {
    display: grid;
    grid-template-columns:20% 50%;
    background-color: black;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: powderblue;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: blue}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: white;
  }

h4 {
    color:white;
    text-align: center;
    padding: 10px;
}

ul li a{
    list-style: none;
    text-decoration: none;
    color:white;
}

ul li a {
    font-size:30px;
    padding: 20px 20px;
    margin: 20px 20px;
}

a:hover {
    color:powderblue;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    color:black;
    margin: 10px 10px;
    padding: 20px 20px;
}

.dots {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 20px;
    padding: 20px 20px;
    box-shadow: 5px 5px 5px black;
}

.dots h1 {
    display: inline-block;   
}

.red-dot {
    background-color: var(--red-dot-color);
}

.yellow-dot {
    background-color: var(--yellow-dot-color);
}

.board-game {
    grid-template-columns: 20% 50% 30%;
    display: grid;
    flex-direction: column;
}

.left-side-menu {
    display: grid;
    grid-template-rows: 200px 200px 200px;
}

.right-side-menu {
    display: grid;
    grid-template-rows: 200px 200px 200px;
}
.chess-board {
    display: grid;
    grid-template-columns:60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    justify-content: center;
    margin: 20px;
}

.chessForLostPieces {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    gap: 0px;
}

.squares {
    width: 60px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
}

.squaresForBlackPieces, .squaresForWhitePieces{
    width: 60px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    padding: 0px;
    margin: 20px;
}

button {
    margin: 20px;
    width: 160px;
    height: 60px;
    background-color: var(--yellow-dot-color);
    cursor: pointer;
}

.load-pieces {
    margin: 20px;
    width: 160px;
    height: 60px;
    background-color: var(--yellow-dot-color);
    cursor: pointer;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    color: black;
    line-height: 50px;
}

.grey-board {
    background-color: var(--grey-board-color);
}

.white-board {
    background-color: var(--white-board-color);
}
.pointClass span {
    margin: 20px;
    color: blue;
}

fieldset {
    margin-top: 20px;
}
legend {
    color: blue;
    font-size: large;
    margin-left: 10px;;
}
input {
    margin: 20px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.slideMenu {
    position: relative;
    display: block;
}

.slideMenuHome {
    padding: 10px;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.slideHome {
    position: relative;
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: -60px;
    border: 2px solid black;
    border-radius: 0px 10px 10px 0px;
    min-height: 50px;
    color: black;
    background-color: green;
    text-align: left;
}

.slideHome:hover {
    width: 150px;
    transition-timing-function: linear;
    margin-left: 0px;
    text-align: center;
}

.slideGame {
    width: 100px;
    padding: 10px;
    margin-left: -60px;
    border: 2px solid black;
    border-radius: 0px 10px 10px 0px;
    min-height: 50px;
    color: black;
    background-color:yellow;
    text-align: left;
}

.slideGame:hover {
    width: 150px;
    transition-timing-function: linear;
    margin-left: 0px;
    text-align: center;
}
  
.vis {
    display: none;
}